<h1>Mountains</h1>

<div class='mountain-container'>
    <% @mountains.all.each do |mountain| %>
    <div class='mountain'>
        <h5> Name: <%= mountain.name %></h5>
        <h5> Elevation: <%= mountain.elevation %></h5><br>
    </div>
    <% end %>
</div>
