<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Summit Colorado</h1>
  <h4>Please sign up or login to access your portfolio</h4>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>

</body>

</html>